.iconpic{
    height: 30px;
    width: 30px;
    margin-left: 15px;
}
.spacelr{
    padding-left: 10%;
    padding-right: 10%;
  }
.navbarspace{
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 1%;
    padding-top: 1%;
}

.navbartitle{
    font-weight: bolder;
    font-size: 25px;
}


.iconpic:active .popup{
    display: none;
}

.popup{
    display: block;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    border-radius: 10px;
    background-color: white;
    z-index: 100;
    position: fixed;
    left: 75%;
    font-size: 15px;
}

.upperpopup{
    padding: 10px 60px;

}

.fontpopup{
    padding-left: 15px;
    padding-top: 15px;
}

.popupitempicture{
    width: 50px;
    height: 50px;
}
